# PyCharm
.idea/

# appJar
appJar/
Solar Pi Welcome/appJar/
Languages Python/appJar/
Solar Pi Settings/appJar/
Solar Pi Power/appJar/
Solar Pi Applications/Python Applications/appJar/

# ttkthemes
Solar Pi Settings/ttkthemes/
Solar Pi Applications/Python Applications/ttkthemes/